# Backups
*\~
.\#*

# Eww files
url
eww

# Eshell files
eshell/history
eshell/lastdir

# desktop/bookmark/etc
bookmarks
recentf
.emacs.desktop*

# files created from config.org
lisp/config.el
lisp/custom.el

# compiled packages
lisp/*/*.elc
lisp/*.elc
straight
elpa

# files
helm-adaptive-history
nov-places
.org-id-locations
network-security.data
ebdb.gpg
elpher-bookmarks
places

# directories
eaf
elfeed
tramp
transient
