# Backups
*\~
.\#*

# Eww files
/url
/eww

# Eshell files
/eshell

# desktop/bookmark/etc
/bookmarks
/recentf
/.emacs.desktop*

# files created from config.org
lisp/config.el
lisp/custom.el

# compiled packages
*.elc
/straight
/elpa

# files
/helm-adaptive-history
/nov-places
/.org-id-locations
/network-security.data
/ebdb.gpg
/elpher-bookmarks
/places
/projects

# directories
/eaf
/elfeed
/tramp
/transient
/eln-cache/
