*\~

url
eww-*

eshell
tramp

bookmarks
recentf
.emacs.desktop*

config.el
custom.el

helm-adaptive-history
nov-places

lisp/*/*.elc
lisp/*.elc

elpa/archives

eaf

elpa/vterm*

elfeed

.org-id-locations